<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" id="row-<%= club.id %>">
  <td class="px-2 py-4 pl-4 flex">
    <%= button_to "âœï¸", 
      edit_club_path(club),
      method: :get,
      data: { turbo_frame: "modal" },
      disabled: !allowed_to?(:update?, club),
      class: {
        'opacity-20' => !allowed_to?(:update?, club)
      }
    %>
    <%= button_to "ðŸ—‘ï¸", 
      club_path(club),
      method: :delete,
      disabled: !allowed_to?(:destroy?, club),
      class: {
        'opacity-20' => !allowed_to?(:update?, club)
      }
    %>
  </td>

  <td scope="row" class="px-2 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white w-full">
    <%= link_to club.name, club_path(club), class: "hover:text-indigo-500 rounded cursor-pointer" %>
  </td>
  <td class="px-2 py-4 pr-4">
    <%= club.count %>
  </td>
</tr>