<%= form_with model: match_series, html: { autocomplete: "off" } do |f| %>
  <div>
    <%= f.label :name, class: {
      "text-sm block" => true,
      "text-red-400" => match_series.errors[:name].present?,
    } %>
    <%= f.text_field :name, 
      autofocus: true,
      placeholder: 'Sand Series',
      class: {
        "rounded placeholder:text-slate-200" =>  true,
        "border-indigo-300" => match_series.errors[:name].empty?,
        "border-red-400" => match_series.errors[:name].present?
      } 
    %>
    <% match_series.errors[:name].each do |msg| %>
      <div class="mt-2 text-xs text-red-400"> 
        <%= msg %>
      </div>
    <% end %>

    <%= render "components/user_select_search/input", 
      element_id: "player_ids", 
      users: players,
      label: "Players",
      multiple: true
    %>
  </div>

  <div class="mt-4 w-full">
    <%= f.submit class: "w-full text-center p-2 bg-indigo-500 text-white rounded cursor-pointer" %>
  </div>
<% end %>