<%= form_with model: match_series, html: { autocomplete: "off" } do |f| %>
  <div>
    <%= f.label :name, class: {
      "text-sm block" => true,
      "text-red-400" => match_series.errors[:name].present?,
    } %>
    <%= f.text_field :name, 
      autofocus: true,
      placeholder: 'Sand Series',
      class: {
        "rounded placeholder:text-slate-200" =>  true,
        "border-indigo-300" => match_series.errors[:name].empty?,
        "border-red-400" => match_series.errors[:name].present?
      } 
    %>
    <% match_series.errors[:name].each do |msg| %>
      <div class="mt-2 text-xs text-red-400"> 
        <%= msg %>
      </div>
    <% end %>


    <div data-controller="select-search" class="relative">
      <label for="query" class="text-sm block mt-4">Participants</label>
      <input type="text"
        id="query"
        aria-owns="users-suggestions"
        class="rounded placeholder:text-slate-200 relative z-10 border-indigo-300"
        data-action="
          select-search#onChange
          focus->select-search#onChange
        "
      >
      <%= turbo_frame_tag "ts_select_search"%>
      <div id="js__selected-users-container">
        <%= turbo_frame_tag "ts_selected_user_search" do %>
          <%  @match_series_participations&.each do |participation| %>
            <%= render "users/selected_user", user: participation.user %>
          <% end %>
        <% end %>
      </div>
    </div>
   
  </div>

  <div class="mt-4 w-full">
    <%= f.submit class: "w-full text-center p-2 bg-indigo-500 text-white rounded cursor-pointer" %>
  </div>
<% end %>