<div data-controller="select-search" class="relative mr-2" id="<%= id %>" ror-scope="<%= local_assigns[:scope] ? scope.to_json : '{}' %>">
  <label for="user-select-search__<%= id %>" class="text-sm block mt-4"><%= label %></label>
  <input type="text"
    id="user-select-search__<%= id %>"
    class="rounded placeholder:text-slate-200 relative z-10 border-indigo-300 w-full"
    aria-owns="users-suggestions__<%= id %>"
    data-action="
      select-search#onChange
      focus->select-search#onChange
    "
  >
  <%= turbo_frame_tag "c__user_select_search__#{id}"%>
  <div id="js__selected-users-container__<%= id %>">
    <%= turbo_frame_tag "c__user_selected_search__#{id}" do %>
      <% if local_assigns[:users] %>
        <% users&.each do |user| %>
          <%= render "components/user_select_search/multiple_tag", user: user %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>