<!DOCTYPE html>

<html>
  <head>
    <title>BreakableToy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen max-h-screen">
    <%= yield %>
    
    <% if false %>
      <p class="absolute rounded text-white bg-gray-500 top-2 left-2 p-2 text-sm"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="absolute rounded text-white bg-indigo-500 bottom-2 left-2 p-2 text-sm"><%= alert %></p>
    <% end %>
  </body>
</html>
