<div class="m-8">
  <div class="max-w-xs mx-auto sm:mx-0">
    <h2 class="text-3xl font-semibold flex-grow mb-8"> 
      Your profile
    </h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, autocomplete: "off" }) do |f| %>
      <div data-controller="upload-image">
        <div class="mb-8 flex flex-col items-center">
          <%= f.label :avatar, class: "relative overflow-hidden cursor-pointer w-36 h-36 bg-slate-200 block rounded-full" do %>
            <img id="upload-image__preview" class="w-full" src="<%= avatar_url(resource.avatar) %>" alt="edit your profile picture">
            <div class="absolute inset-x-1/2 bottom-0"> ✏️ </div>
          <% end %>
          <div id="upload-image__caption" class="mt-2 text-xs text-red-400 hidden"> 
            Save to persist changes
          </div>
        </div>
        
        <%= f.file_field :avatar, class: 'hidden', data: { action: 'upload-image#updateTagImage' } %>
        
        <%= f.label :name, class: {
          "text-sm block" => true,
        } %>
        <%= f.text_field :name, 
          autofocus: true,
          class: {
            "rounded placeholder:text-slate-200 w-full" =>  true,
            "border-indigo-300" => true,
          }  
        %>

        <div class="mt-4">
          <%= f.label :email, class: {
            "text-sm block" => true,
          } %>
          <%= f.email_field :email, 
            autofocus: true, 
            autocomplete: "email",
            placeholder: 'your@email.com',
            class: {
              "rounded placeholder:text-slate-200 w-full" =>  true,
              "border-indigo-300" => true,
            }  
          %>
        </div>

        <% if resource.errors.full_messages_for(:current_password).present? %>
          <div class="mt-2 text-xs text-red-400"> 
            To update any field you need to add current password!
          </div>
        <% end %>
        <div class="mt-4" >
          <%= f.submit "Update", class: "w-64 text-center p-2 bg-indigo-500 text-white rounded cursor-pointer w-full" %>
        </div>
      </div>
    <% end %>
  </div>
</div>