<div class="m-8">
  <h2 class="text-3xl font-semibold flex-grow mb-8"> 
    Your profile
  </h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, autocomplete: "off" }) do |f| %>
    <div>
      
      <%= f.label :avatar, class: "relative overflow-hidden cursor-pointer w-36 h-36 ml-12 mb-8 bg-slate-200 block rounded-full" do %>
        <img class="w-full h-full" src="<%= resource.avatar.url %>" alt="edit your profile picture">
        <div class="absolute inset-x-1/2 bottom-0"> ✏️ </div>
      <% end %>
      <%= f.file_field :avatar, class: 'hidden' %>

      <%= f.label :name, class: {
        "text-sm block" => true,
      } %>
      <%= f.text_field :name, 
        autofocus: true,
        class: {
          "rounded placeholder:text-slate-200" =>  true,
          "border-indigo-300" => true,
        }  
      %>

      <div class="mt-4">
        <%= f.label :email, class: {
          "text-sm block" => true,
        } %>
        <%= f.email_field :email, 
          autofocus: true, 
          autocomplete: "email",
          placeholder: 'your@email.com',
          class: {
            "rounded placeholder:text-slate-200" =>  true,
            "border-indigo-300" => true,
          }  
        %>
      </div>

      <div class="mt-4">
        <%= f.label :password, class: {
          "text-sm block" => true,
        } %>
        <%= f.password_field :password, 
          autocomplete: "new-password", 
          placeholder: '*********', 
          class: { 
            "rounded border-indigo-300 rounded placeholder:text-slate-200" => true,
          }
        %>
      </div>

      <div class="mt-4">
        <%= f.label :password_confirmation, class: {
          "text-sm block" => true,
          "text-red-400": alert.present?
        } %>
        <%= f.password_field :password_confirmation, 
          placeholder: '*********', 
          autocomplete: "new-password",
          class: { 
            "rounded border-indigo-300 rounded placeholder:text-slate-200" => true,
          }
        %>
      </div>
      <div class="mt-4">
        <%= f.label :current_password, class: {
          "text-sm block" => true,
          "text-red-400": resource.errors.full_messages_for(:current_password).present?
        } %>
        <%= f.password_field :current_password, 
          placeholder: '*********', 
          autocomplete: "current-password",
          class: { 
            "rounded border-indigo-300 rounded placeholder:text-slate-200" => true,
            "border-red-400": resource.errors.full_messages_for(:current_password).present?
          }
        %>
      </div>
      <% if resource.errors.full_messages_for(:current_password).present? %>
        <div class="mt-2 text-xs text-red-400"> 
          To update any field you need to add current password!
        </div>
      <% end %>
    </div>
    
    <div class="mt-4" >
      <%= f.submit "Update", class: "w-64 text-center p-2 bg-indigo-500 text-white rounded cursor-pointer" %>
    </div>
  <% end %>
</div>